[Unit]
Description=SPDK NVMf target
# start after pressured because nvmf_tgt needs huge pages
After=pressured.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
EnvironmentFile=/etc/systemd/nvmf_tgt.conf
ExecStart=/usr/bin/env /usr/local/bin/nvmf_tgt.sh $muser_dir $spdk_sock $muser_shm_dir $libiscsi $debug

[Install]
WantedBy=multi-user.target
